.productShowmore {
    background-color: var(--white-background-color);
    padding: 15px 30px;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid var(--text-color);
    display: block;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.outOfStock {
    color: red;
    font-weight: bold;
    margin-top: 8px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.productShowmore:hover {
    background-color: var(--text-color);
    color: var(--white-background-color);
    transform: translateY(-2px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.productShowmore:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.headBreadcrumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 30px 0px 30px; */
    color: var(--text-color);
    font-size: 16px;
}
.results{
    width: 100%;
    text-align: right;
    margin-right: 30px;
}
