.user-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 500px;
  }
  .user-form > * {
    flex: 1;
  }
  .form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .form-row > *{
    flex: 1; /* Đảm bảo các FormControl trong hàng lấp đầy không gian */
  }
  .add_address_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; /* Khoảng cách trên dưới */
  }