.displayImageProduct{
    padding-bottom: 48px;
}

.imageProductContainer {
    display: flex;
    flex-wrap: wrap;
}

.imageProduct {
    width: 50%; 
    height: 50%;
    position: relative;
    overflow: hidden;
}

.imageProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}