.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 1.2px solid #9e9d9d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  flex-grow: 1;
  margin-left: 10px;
}

.info strong {
  font-size: 18px;
}

.info p {
  font-size: 16px;
  color: #141414;
  margin: 20px 0 10px;
  text-shadow: none;
  white-space: nowrap; /* Không xuống dòng */
  overflow: hidden; /* Ẩn phần vượt quá */
  text-overflow: ellipsis; /* Hiển thị "..." */
  max-width: 90%; /* Giới hạn chiều rộng */
}

/* Nhãn "Mặc định" ở góc trên phải */
.defaultLabel {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e6f0ff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 0 4px 0 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}
.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e6f0ff;
  color: #e23745;
  /* padding: 5px 10px; */
  border-radius: 0 4px 0 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}
/* Nút chỉnh sửa ở góc dưới bên phải */
.editButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fbe8e8;
  border: none;
  padding: 8px;
  border-radius: 10px 0 4px 0;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: -10px;
  margin-right: -10px;
  font-size: medium;
  width: 40px; /* Đảm bảo nút không phình to */
  height: 40px;
}
.editButton:hover {
  background: #ffcccc;
}
.container {
  text-align: center;
}
